.p_admin_pages {
  display: flex;
  align-items: center;
}

.p_admin_pages a {
  font-size: 15px;
  color: #212934;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  transition: .300s;
}

.p_admin_pages a:hover {
  color: #59ab6e;
}
